In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [3]:
data=pd.read_csv("data/data_clean.csv")

In [5]:
data.head()

,Unnamed: 0,cve_institucion,cve_concepto,200012,200101,200102,200103,200104,200105,200106,...,202005,202006,202007,202008,202009,202010,202011,202012,202101,Grand Total
0,0,040002,1.000000e+11,404155.539381,394339.144611,398165.969974,396748.807840,394034.682061,397417.906353,390335.530120,...,1.403779e+06,1.400146e+06,1.431086e+06,1.403597e+06,1.375992e+06,1.358075e+06,1.329905e+06,1.356419e+06,1.365755e+06,2.272193e+08
1,1,040002,1.100000e+11,25111.100235,24510.989273,22223.129407,25016.224513,22234.320323,24171.781379,23781.683570,...,8.967279e+04,7.474442e+04,1.158531e+05,1.205825e+05,8.548155e+04,8.912308e+04,8.313712e+04,1.330061e+05,1.214763e+05,2.069009e+07
2,3,040002,1.102000e+11,16499.943715,19677.001561,17297.767938,20293.765145,17269.417648,19012.391525,19147.689422,...,1.491724e+04,1.527481e+04,-6.634663e+03,9.287726e+03,-7.082801e+03,-2.207891e+04,-9.899074e+03,1.222358e+04,2.066360e+04,-1.754574e+06
3,4,040002,1.103000e+11,344.422987,272.065783,267.612960,278.623623,298.010203,259.137843,178.403780,...,1.715925e+03,2.166395e+03,2.044062e+03,2.643912e+03,2.243062e+03,1.733480e+03,2.016134e+03,8.095555e+02,1.163158e+03,1.382839e+05
4,14,040002,1.208000e+11,3415.956580,202.787125,2825.408258,2801.145130,3849.574083,7965.414625,6618.111587,...,1.000000e-06,1.000000e-06,1.000000e-06,1.000127e+04,2.000000e-06,2.000000e-06,2.000000e-06,1.500183e+04,1.000368e+04,2.332709e+06

In [21]:
col=data.columns

In [7]:
data.set_index("Unnamed: 0")

,cve_institucion,cve_concepto,200012,200101,200102,200103,200104,200105,200106,200107,...,202005,202006,202007,202008,202009,202010,202011,202012,202101,Grand Total
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,040002,1.000000e+11,4.041555e+05,3.943391e+05,3.981660e+05,3.967488e+05,3.940347e+05,3.974179e+05,3.903355e+05,3.971260e+05,...,1.403779e+06,1.400146e+06,1.431086e+06,1.403597e+06,1.375992e+06,1.358075e+06,1.329905e+06,1.356419e+06,1.365755e+06,2.272193e+08
1,040002,1.100000e+11,2.511110e+04,2.451099e+04,2.222313e+04,2.501622e+04,2.223432e+04,2.417178e+04,2.378168e+04,2.186069e+04,...,8.967279e+04,7.474442e+04,1.158531e+05,1.205825e+05,8.548155e+04,8.912308e+04,8.313712e+04,1.330061e+05,1.214763e+05,2.069009e+07
3,040002,1.102000e+11,1.649994e+04,1.967700e+04,1.729777e+04,2.029377e+04,1.726942e+04,1.901239e+04,1.914769e+04,1.706741e+04,...,1.491724e+04,1.527481e+04,-6.634663e+03,9.287726e+03,-7.082801e+03,-2.207891e+04,-9.899074e+03,1.222358e+04,2.066360e+04,-1.754574e+06
4,040002,1.103000e+11,3.444230e+02,2.720658e+02,2.676130e+02,2.786236e+02,2.980102e+02,2.591378e+02,1.784038e+02,3.436668e+02,...,1.715925e+03,2.166395e+03,2.044062e+03,2.643912e+03,2.243062e+03,1.733480e+03,2.016134e+03,8.095555e+02,1.163158e+03,1.382839e+05
14,040002,1.208000e+11,3.415957e+03,2.027871e+02,2.825408e+03,2.801145e+03,3.849574e+03,7.965415e+03,6.618112e+03,1.024196e+04,...,1.000000e-06,1.000000e-06,1.000000e-06,1.000127e+04,2.000000e-06,2.000000e-06,2.000000e-06,1.500183e+04,1.000368e+04,2.332709e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29820,99,6.706000e+11,1.299145e+02,1.649774e+01,3.362601e+01,4.130833e+01,6.155691e+01,7.834090e+01,9.155453e+01,1.019147e+02,...,1.439397e+03,1.664318e+03,1.919260e+03,2.163582e+03,2.433676e+03,2.624965e+03,2.774753e+03,2.931714e+03,2.636747e+02,1.467606e+05
29821,99,6.711000e+11,1.333846e+02,1.720747e+01,3.541598e+01,4.724513e+01,7.146511e+01,9.088076e+01,1.076853e+02,1.193678e+02,...,1.439397e+03,1.664318e+03,1.919260e+03,2.163582e+03,2.433676e+03,2.624965e+03,2.774753e+03,2.931714e+03,2.636747e+02,1.488927e+05
29822,99,8.000000e+11,1.114730e+04,1.159498e+04,1.114110e+04,1.114697e+04,1.161195e+04,1.248901e+04,1.180374e+04,1.222692e+04,...,1.435443e+05,1.467765e+05,1.462839e+05,1.458156e+05,1.471399e+05,1.515761e+05,1.472387e+05,1.498860e+05,1.492822e+05,1.516581e+07
29823,99 Total,NaN,8.305512e+04,7.680495e+04,7.441272e+04,7.512943e+04,7.880314e+04,8.468307e+04,8.075756e+04,8.352717e+04,...,1.183298e+06,1.212908e+06,1.211297e+06,1.216791e+06,1.232590e+06,1.264071e+06,1.242819e+06,1.268971e+06,1.185572e+06,1.209830e+08
29824,Grand Total,NaN,7.002391e+07,6.084185e+07,6.265189e+07,6.399945e+07,6.415659e+07,6.584799e+07,6.783114e+07,6.962590e+07,...,5.724594e+08,5.777929e+08,5.756197e+08,5.707967e+08,5.682973e+08,5.706007e+08,5.704813e+08,5.677238e+08,5.427077e+08,6.309957e+10

In [30]:
col=np.array(col)

In [31]:
while x>3

array(['Unnamed: 0', 'cve_institucion', 'cve_concepto', '200012',
       '200101', '200102', '200103', '200104', '200105', '200106',
       '200107', '200108', '200109', '200110', '200111', '200112',
       '200201', '200202', '200203', '200204', '200205', '200206',
       '200207', '200208', '200209', '200210', '200211', '200212',
       '200301', '200302', '200303', '200304', '200305', '200306',
       '200307', '200308', '200309', '200310', '200311', '200312',
       '200401', '200402', '200403', '200404', '200405', '200406',
       '200407', '200408', '200409', '200410', '200411', '200412',
       '200501', '200502', '200503', '200504', '200505', '200506',
       '200507', '200508', '200509', '200510', '200511', '200512',
       '200601', '200602', '200603', '200604', '200605', '200606',
       '200607', '200608', '200609', '200610', '200611', '200612',
       '200701', '200702', '200703', '200704', '200705', '200706',
       '200707', '200708', '200709', '200710', '200711', '200712',
       '200801', '200802', '200803', '200804', '200805', '200806',
       '200807', '200808', '200809', '200810', '200811', '200812',
       '200901', '200902', '200903', '200904', '200905', '200906',
       '200907', '200908', '200909', '200910', '200911', '200912',
       '201001', '201002', '201003', '201004', '201005', '201006',
       '201007', '201008', '201009', '201010', '201011', '201012',
       '201101', '201102', '201103', '201104', '201105', '201106',
       '201107', '201108', '201109', '201110', '201111', '201112',
       '201201', '201202', '201203', '201204', '201205', '201206',
       '201207', '201208', '201209', '201210', '201211', '201212',
       '201301', '201302', '201303', '201304', '201305', '201306',
       '201307', '201308', '201309', '201310', '201311', '201312',
       '201401', '201402', '201403', '201404', '201405', '201406',
       '201407', '201408', '201409', '201410', '201411', '201412',
       '201501', '201502', '201503', '201504', '201505', '201506',
       '201507', '201508', '201509', '201510', '201511', '201512',
       '201601', '201602', '201603', '201604', '201605', '201606',
       '201607', '201608', '201609', '201610', '201611', '201612',
       '201701', '201702', '201703', '201704', '201705', '201706',
       '201707', '201708', '201709', '201710', '201711', '201712',
       '201801', '201802', '201803', '201804', '201805', '201806',
       '201807', '201808', '201809', '201810', '201811', '201812',
       '201901', '201902', '201903', '201904', '201905', '201906',
       '201907', '201908', '201909', '201910', '201911', '201912',
       '202001', '202002', '202003', '202004', '202005', '202006',
       '202007', '202008', '202009', '202010', '202011', '202012',
       '202101', 'Grand Total'], dtype=object)

In [11]:
endpoint="banking.cephpaqhv83w.us-east-2.rds.amazonaws.com"
conn= f"postgresql+psycopg2://postgres:2gZq7GdZ7Nw8iuAoRufq@{endpoint}:5432/banking"

In [7]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [12]:
engine = create_engine(conn)

In [20]:
pd.read_sql("SELECT cve_concepto FROM CONCEPTOS", engine)

    cve_concepto
0   5.100000e+11
1   6.100000e+11
2   6.200000e+11
3   6.702000e+11
4   6.400000e+11
5   6.705000e+11
6   6.711000e+11
7   1.000000e+11
8   1.100000e+11
9   1.301000e+11
10  1.301050e+11
11  1.301060e+11
12  1.301210e+11
13  1.311000e+11
14  1.311010e+11
15  1.312000e+11
16  1.316000e+11
17  2.000000e+11
18  2.101000e+11
19  2.111000e+11

In [25]:
test= pd.read_sql("SELECT * FROM data_clean WHERE cve_institucion IN (SELECT bank_id FROM banks)", engine)

In [26]:
test.head()

,cve_institucion,cve_concepto,2000-12-01 00:00:00,2001-01-01 00:00:00,2001-02-01 00:00:00,2001-03-01 00:00:00,2001-04-01 00:00:00,2001-05-01 00:00:00,2001-06-01 00:00:00,2001-07-01 00:00:00,...,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,Grand Total
0,040002,100000000000,404155.539381,394339.144611,398165.969974,396748.807840,394034.682061,397417.906353,390335.530120,397125.976484,...,1.403779e+06,1.400146e+06,1.431086e+06,1.403597e+06,1.375992e+06,1.358075e+06,1.329905e+06,1.356419e+06,1.365755e+06,2.272193e+08
1,040002,110000000000,25111.100235,24510.989273,22223.129407,25016.224513,22234.320323,24171.781379,23781.683570,21860.687917,...,8.967279e+04,7.474442e+04,1.158531e+05,1.205825e+05,8.548155e+04,8.912308e+04,8.313712e+04,1.330061e+05,1.214763e+05,2.069009e+07
2,040002,110200000000,16499.943715,19677.001561,17297.767938,20293.765145,17269.417648,19012.391525,19147.689422,17067.406522,...,1.491724e+04,1.527481e+04,-6.634663e+03,9.287726e+03,-7.082801e+03,-2.207891e+04,-9.899074e+03,1.222358e+04,2.066360e+04,-1.754574e+06
3,040002,110300000000,344.422987,272.065783,267.612960,278.623623,298.010203,259.137843,178.403780,343.666844,...,1.715925e+03,2.166395e+03,2.044062e+03,2.643912e+03,2.243062e+03,1.733480e+03,2.016134e+03,8.095555e+02,1.163158e+03,1.382839e+05
4,040002,120800000000,3415.956580,202.787125,2825.408258,2801.145130,3849.574083,7965.414625,6618.111587,10241.955967,...,1.000000e-06,1.000000e-06,1.000000e-06,1.000127e+04,2.000000e-06,2.000000e-06,2.000000e-06,1.500183e+04,1.000368e+04,2.332709e+06

In [29]:
pd.wide_to_long(test, stubnames="200012", i=["cve_institucion","cve_concepto"], j="date")

Empty DataFrame
Columns: [2018-12-01 00:00:00, 2020-02-01 00:00:00, 2008-05-01 00:00:00, 2003-04-01 00:00:00, 2000-12-01 00:00:00, 2010-06-01 00:00:00, 2015-06-01 00:00:00, 2008-11-01 00:00:00, 2007-05-01 00:00:00, 2011-06-01 00:00:00, 2006-10-01 00:00:00, 2003-02-01 00:00:00, 2020-10-01 00:00:00, 2004-03-01 00:00:00, 2013-11-01 00:00:00, 2006-03-01 00:00:00, 2016-07-01 00:00:00, 2020-03-01 00:00:00, 2015-07-01 00:00:00, 2002-11-01 00:00:00, 2004-04-01 00:00:00, 2016-02-01 00:00:00, 2003-07-01 00:00:00, 2001-03-01 00:00:00, 2017-08-01 00:00:00, 2011-09-01 00:00:00, 2015-10-01 00:00:00, 2009-12-01 00:00:00, 2016-11-01 00:00:00, 2001-07-01 00:00:00, 2005-05-01 00:00:00, 2012-04-01 00:00:00, 2005-12-01 00:00:00, 2009-02-01 00:00:00, 2018-06-01 00:00:00, 2020-05-01 00:00:00, 2005-06-01 00:00:00, 2017-12-01 00:00:00, 2019-08-01 00:00:00, 2010-01-01 00:00:00, 2020-04-01 00:00:00, 2008-07-01 00:00:00, 2005-11-01 00:00:00, 2012-12-01 00:00:00, 2014-04-01 00:00:00, 2004-11-01 00:00:00, 2005-08-01 00:00:00, 2007-03-01 00:00:00, 2009-04-01 00:00:00, 2016-08-01 00:00:00, 2010-03-01 00:00:00, 2017-01-01 00:00:00, 2017-03-01 00:00:00, 2014-07-01 00:00:00, 2008-08-01 00:00:00, 2007-08-01 00:00:00, 2002-12-01 00:00:00, 2007-09-01 00:00:00, 2012-11-01 00:00:00, 2013-06-01 00:00:00, 2014-10-01 00:00:00, 2020-07-01 00:00:00, 2013-07-01 00:00:00, 2002-08-01 00:00:00, 2007-10-01 00:00:00, 2004-12-01 00:00:00, 2016-10-01 00:00:00, 2019-02-01 00:00:00, 2010-02-01 00:00:00, 2009-11-01 00:00:00, 2015-11-01 00:00:00, 2020-12-01 00:00:00, 2011-05-01 00:00:00, 2019-05-01 00:00:00, 2019-06-01 00:00:00, 2019-03-01 00:00:00, 2015-03-01 00:00:00, 2017-09-01 00:00:00, 2012-07-01 00:00:00, 2011-10-01 00:00:00, 2007-07-01 00:00:00, 2006-07-01 00:00:00, 2005-01-01 00:00:00, 2006-12-01 00:00:00, 2014-05-01 00:00:00, 2003-11-01 00:00:00, 2016-12-01 00:00:00, 2018-04-01 00:00:00, 2003-03-01 00:00:00, 2020-01-01 00:00:00, 2008-04-01 00:00:00, 2019-04-01 00:00:00, 2002-02-01 00:00:00, 2001-10-01 00:00:00, 2017-04-01 00:00:00, 2001-09-01 00:00:00, 2009-01-01 00:00:00, 2005-10-01 00:00:00, 2010-04-01 00:00:00, 2019-09-01 00:00:00, ...]
Index: []

[0 rows x 244 columns]

In [3]:
data=pd.read_csv("data/data_filtered.csv")

In [4]:
conditions=[
            data["cve_institucion"]==102,
            data["cve_institucion"]==172,
            data["cve_institucion"]==112,
            data["cve_institucion"]==40021,
            data["cve_institucion"]==136,
            data["cve_institucion"]==114,
            data["cve_institucion"]==144,

]
values=["Citibanamex","Banorte","BBVA Bancomer","HSBC","Inbursa","Santander","Scotiabank"]
data["Nombre"]=np.select(conditions,values)

In [5]:
data["Nombre"].unique()

array(['0', 'HSBC', 'Citibanamex', 'BBVA Bancomer', 'Santander',
       'Inbursa', 'Scotiabank', 'Banorte'], dtype=object)

In [7]:
test=data.head()

In [27]:
data=data[data["Nombre"]!="0"]

In [28]:
data["Nombre"].unique()

array(['HSBC', 'Citibanamex', 'BBVA Bancomer', 'Santander', 'Inbursa',
       'Scotiabank', 'Banorte'], dtype=object)

In [30]:
data.to_csv("jorgeQ.csv")