In [1]:
import pandas as pd
from fbprophet import Prophet

Importing plotly failed. Interactive plots will not work.

In [2]:
df = pd.read_csv("data/data_filtered.csv")
df.head()

   Unnamed: 0  cve_institucion  cve_concepto        time          value
0           0            40002  1.000000e+11  2000-12-01  404155.539381
1           1            40002  1.000000e+11  2001-01-01  394339.144611
2           2            40002  1.000000e+11  2001-02-01  398165.969974
3           3            40002  1.000000e+11  2001-03-01  396748.807840
4           4            40002  1.000000e+11  2001-04-01  394034.682061

In [4]:
filter1 = df["cve_institucion"] == 21
df_banca = df.loc[filter1]
df_banca

        Unnamed: 0  cve_institucion  cve_concepto        time         value
9922          9922               21  1.000000e+11  2000-12-01  2.031704e+06
9923          9923               21  1.000000e+11  2001-01-01  2.055188e+06
9924          9924               21  1.000000e+11  2001-02-01  2.084830e+06
9925          9925               21  1.000000e+11  2001-03-01  2.056695e+06
9926          9926               21  1.000000e+11  2001-04-01  2.081879e+06
...            ...              ...           ...         ...           ...
399295      399295               21  2.111000e+11  2020-09-01  2.204660e+06
399296      399296               21  2.111000e+11  2020-10-01  2.157476e+06
399297      399297               21  2.111000e+11  2020-11-01  2.105770e+06
399298      399298               21  2.111000e+11  2020-12-01  2.072961e+06
399299      399299               21  2.111000e+11  2021-01-01  2.064060e+06

[4598 rows x 5 columns]

In [6]:
filter2 = df_banca["cve_concepto"] == 100000000000
df_banca_cve = df_banca.loc[filter2]
df_banca_cve

       Unnamed: 0  cve_institucion  cve_concepto        time         value
9922         9922               21  1.000000e+11  2000-12-01  2.031704e+06
9923         9923               21  1.000000e+11  2001-01-01  2.055188e+06
9924         9924               21  1.000000e+11  2001-02-01  2.084830e+06
9925         9925               21  1.000000e+11  2001-03-01  2.056695e+06
9926         9926               21  1.000000e+11  2001-04-01  2.081879e+06
...           ...              ...           ...         ...           ...
10159       10159               21  1.000000e+11  2020-09-01  1.132311e+07
10160       10160               21  1.000000e+11  2020-10-01  1.132934e+07
10161       10161               21  1.000000e+11  2020-11-01  1.129508e+07
10162       10162               21  1.000000e+11  2020-12-01  1.118584e+07
10163       10163               21  1.000000e+11  2021-01-01  1.128140e+07

[242 rows x 5 columns]

In [10]:
df_prophet = df_banca_cve[["time","value"]]
df_prophet = df_prophet.rename(columns={
    "time": "DS",
    "value": "Y"
})
df_prophet

               DS             Y
9922   2000-12-01  2.031704e+06
9923   2001-01-01  2.055188e+06
9924   2001-02-01  2.084830e+06
9925   2001-03-01  2.056695e+06
9926   2001-04-01  2.081879e+06
...           ...           ...
10159  2020-09-01  1.132311e+07
10160  2020-10-01  1.132934e+07
10161  2020-11-01  1.129508e+07
10162  2020-12-01  1.118584e+07
10163  2021-01-01  1.128140e+07

[242 rows x 2 columns]

In [11]:
m = Prophet()
m.fit(df_prophet)

ValueError: Dataframe must have columns "ds" and "y" with the dates and values respectively.